<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <form action="/auth">
        <input type="email" placeholder="Электронная почта" />
        <input type="text" placeholder="Имя пользователя" />
        <input type="text" placeholder="Ваше отображаемое имя: " />
        <input type="password" placeholder="Пароль" />
        <input type="password" placeholder="Повторите пароль"
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>