<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Регистрация Seline - Mood Diary!</h1>
    <form>
        <div>
            <label>Имя пользователя: </label>
            <input type="text">
        </div>
        <div>
            <label>Электронная почта: </label>
            <input type="email">
        </div>
        <div>
            <label>Пароль: </label>
            <input type="password">
        </div>
    </form>
</body>
</html>