html {
  font-size: 14px;
}

#root {
  height: 100%;
}

nav ul {
    display: flex;
  }

nav ul li {
  margin: 0 0.75em;
}

nav ul li::marker{
  content: none;
}

body {
  background-image: url('../../assets/images/background_main.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}