<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О проекте</title>
</head>
<body>
    <header>

    </header>
    <main>
        <section>
            <h1>Seline Mood Diary - трекер настроения</h1>
            <p>Seline Mood Diary - это веб-приложение, позволяющее оставлять заметки о своём психологическом состоянии, как подробно описывая прошедший день, так и оставляя лишь стикер в качестве записи о нём.</p>
        </section>
        <section>
            <h1>Разработчики</h1>
            <p>Разработками данного учебного веб-приложения являются студенты группы БФИ2202:</p>
            <ul>
                <li>Павел Никитин - главный разработчик, глава департамента бекэнда;</li>
                <li>Василий Карзанов - глава департамента фронт-энда;</li>
                <li>Диана Крюкова - глава департамента дизайна;</li>
                <li>Мария Шубина - глава департамента тестирования.</li>
            </ul>
        </section>
    </main>
    <footer>

    </footer>

</body>
</html>